#map {
    width: 100vw;
    height: 100vh;
    cursor: grab;
    padding: 0 0 0 4vw;
}

#search {
    position: fixed;
    left: 8vw;
    bottom: 2vh;
    width: 25vw;
    padding: 2vw 1vw 2vw 1vw;
    margin: 0;
    background: transparent;
    height: 30vh;
    z-index: 1;
    cursor: default;
}

#searchBar {
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 .5rem #999;
    background-color: rgba(0, 51, 102, 0.8);
}

#searchBar input {
    width: 100%;
    border: none;
    padding: 0.75rem;
    background: transparent;
    /* font */
    color: #e8e8e8;
    font-size: 1rem;
}

#searchBar input::-webkit-calendar-picker-indicator {
    display: none;
}

#searchBar img {
    padding: 0.8vh 0.2vw 0.2vh 0;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

#searchBar button {
    right: 0;
    position: absolute;
    height: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

#filters {
    margin: 1em 0;
    padding: 1vh 1vw 1vh 1vw;
    background: #eee;
    border-radius: 0.5rem;
    color: #003366;
}

#filters div {
    display: flex;
    justify-content: space-between;
}

#filters input {
    width: 45vw;
    cursor: pointer;
}

#filters span {
    width: 45%;
}

#filters input {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0.25em 0;
    background: #f9f9f9;
    opacity: 0.95;
}

#scale {
	position: absolute;
	margin: 0 1rem;
	right: 1rem;
	top: 10vh;
	
	width: 1rem;
	height: 80vh;
	border-radius: 0.25rem;
	background: rgb(255,0,0);
	background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(243,255,0,1) 33%, rgba(0,255,31,0.6600841020001751) 66%, rgba(0,93,255,0.33235300956320024) 100%);
}

#scale::before, #scale::after {
	position: absolute;
	right: -1.5rem;

	width: 4rem;
	text-align: center;
}

#scale::before {
	content: "30dB";
	bottom: -1.5rem;
}

#scale::after {
	content: "100dB";
	top: -1.5rem;
}

#notificationWrapper {
    position: absolute;
    top: 0;
    right: 0;
}

#notificationWrapper div {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 .5rem #999;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 20rem;
}