:root {
	--background-color: #eee;
	--accent-color: #003366;
	--text-color: #000;
	--text-placeholder-color: #ccc;
	--text-alternative-color: #e8e8e8;
	--shadow: 0 0 .5rem #999;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	font-family: "Noto Sans", "Lucida Grande", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
	color: #7694ba;
	text-decoration: none;
}

a:hover {
	color: #4872a7;
	text-decoration: underline;
}

iframe {
	width: 100%;
	border: none;
}