html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	font-family: "Noto Sans", "Lucida Grande", Roboto, "Helvetica Neue", Arial, sans-serif;
}

aside {
	width: 25vw;
    padding: 2vw 2vw 2vw 6vw;
    margin: 0;
    box-sizing: border-box;
	height: 100vh;
}

a {
	color: #7694ba;
	text-decoration: none;
}

a:hover {
	color: #4872a7;
	text-decoration: underline;
}