@media only screen and (max-width: 1200px) {
    /* master.css */
    
    body {
		flex-direction: column;
	}

	aside {
		width: 100vw;
        height: auto;
        padding: 1vw 1vw 1vw 4vw;
    }

    main {
        padding: 0.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    h1 {
        letter-spacing: 0.12rem;
        color: #eff7f6; 
    }

    h2 {
        color: #3a506b;
    }

    ul {
        list-style: none;
        color: #1a936f;
        padding: 0;
    }

    li {
        border-bottom: 0.1rem dotted #c6dabf;
        padding-top: 0.5rem;
    }

    a {
        color: #c6dabf;
    }

    a:hover {
        color: #f1faee;
        text-decoration: none;
    }
}

@media only screen and (min-width: 1200px) {
    aside {
		font-size: 1.1rem;
        padding: 0vw 1vw 1vw 1vw;
        background-image: linear-gradient(to right, #2a1a2a , #2a2a2a);
    }

    main {
        padding: 0rem;
        font-size: 1.1rem;
        margin-right: 2rem;
    }

    h1 {
        letter-spacing: 0.12rem;
        color: #eff7f6;    
    }

    h2 {
        color: #3a506b;
    }

    ul {
        list-style: none;
        color: #1a936f;
        padding: 0;
    }

    li {
        border-bottom: 0.1rem dotted #c6dabf;
        padding-top: 0.5rem;
    }

    a {
        color: #c6dabf;
    }

    a:hover {
        color: #f1faee;
        text-decoration: none;
    }
}